/* result.component.scss */

.result-container {

  height: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;

  background-position: center;

}

h2 {
  font-size: 24px;
  color: #333;
}
h2 {
  font-size: 24px;
  color: #333;
}
.page{

  background-color: rgb(248, 211, 155);
  background-position: center;
  background-size: cover;

}

.review {
  margin-top: 10px;
}

.description {
  font-size: 1.5em;
  text-align: center;
}

.fa-quote-right{
  position: relative;
  left: 720px;
}

.author{
  font-size: 1.5em;
  text-decoration: underline;
  cursor: pointer;
}


  .interest-image {
    width: 300px; /* Modifica questa larghezza come desideri */
    height: 300px; /* Modifica questa altezza come desideri */
    cursor: pointer;
  }

  /* results.component.css */
.image-slider {
  max-width: 100%; /* Imposta la larghezza massima al 100% del contenitore */
  height: 700px; /* Mantieni l'aspetto originale rispettando l'aspetto */
}

.slide2{
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.534);/* Mantieni l'aspetto originale rispettando l'aspetto */
}


.reviews{
  padding: 0 40px;
}

span{
  a{
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 30px;
  }
}
/* Aggiungi ulteriori stili secondo le tue esigenze */
